name: Lint and Format

permissions: read-all
on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

env:
  CARGO_TERM_COLOR: always

jobs:
  lint-and-format:
    name: Lint and Format
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Cache
        uses: actions/cache@v4
        with:
          path: |
            ~/.cargo/registry
            ~/.cargo/git
            target
          key: ${{ runner.os }}-cargo-${{ hashFiles('**/Cargo.lock') }}
      - name: Disable man-db auto update (Linux)
        run: |
          export DEBIAN_FRONTEND=noninteractive
          echo "set man-db/auto-update false" | sudo debconf-communicate
          sudo dpkg-reconfigure -f noninteractive man-db
      - name: Install libpcap-dev
        run: sudo apt-get update && sudo apt-get install -y libpcap-dev
      - run: rustup component add clippy
      - run: cargo check --release --all-features
      - run: cargo fmt --check
      - run: cargo clippy --release --all-features
